# Capstone Assignment Notebook

## Introduction

This is a notebook for the assigments of **Appied Data Science Capstone** [*IBM Data Science course 9*](https://www.coursera.org/learn/applied-data-science-capstone)

## Greeting to Capstone Project Course

Import primary modules: **pandas** and **numpy**

In [2]:
import pandas as pd # primary data structure library
import numpy as np  # useful for many scientific computing in Python

Print the following the statement: *Hello Capstone Project Course!*

In [3]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

## Segmenting and Clustering Neighborhoods in Toronto

### Scraping data table and transformation

In [4]:
# We will use pandas to import table from the provided wiki url
wiki = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [48]:
# There are 3 items in this list
len(wiki)

3

In [5]:
# The table we need is the first item in the list
PBN_table = wiki[0]

In [6]:
# Have a look of the dataframe and we need to do some cleanups
PBN_table.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [7]:
# First, we assign the first row as column name
header = PBN_table.iloc[0] # store header into a new variable
PBN_table = PBN_table[1:] # remove the first row
PBN_table.columns = header # assign header
PBN_table.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [22]:
# Remove cells with a borough that is not assigned.
PBN_table_temp=PBN_table.drop(PBN_table[PBN_table["Borough"] == "Not assigned"].index)
PBN_table_temp.head()

0 Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor

In [82]:
# Aggreagte rows with the same postcode, the neighbourhoods should be separated by comma.
aggregate_function = lambda a: ", ".join(a) # create a function to join strings

# The aggregate() function on a dictionary, where the 1st item is column name and the 2nd item is the function to apply
# Since groupby automatically set the called column as index, we use reset_index and drop = True to set the index back
# to integer
PBN_table_temp1 = PBN_table_temp.groupby(by='Postcode').aggregate({"Postcode" : "first",
                                                                   "Borough" : "first",
                                                                   "Neighbourhood": aggregate_function}).reset_index(drop=True)
PBN_table_temp1.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [83]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
# First check the row with column of "Neighbourhood" that has value "Not assigned"
print(PBN_table_temp1.loc[PBN_table_temp1['Neighbourhood'] == 'Not assigned'])

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [84]:
# Change its value with its borough value
PBN_table_temp1.loc[PBN_table_temp1['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = PBN_table_temp1.loc[PBN_table_temp1['Neighbourhood'] == 'Not assigned', 'Borough']
# And check again to see if any column of "Neighbourhood" that has value "Not assigned"
print(PBN_table_temp1.loc[PBN_table_temp1['Neighbourhood'] == 'Not assigned'])

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [85]:
# Assign the last temp df to df and show its dimention
df = PBN_table_temp1
df.shape

(103, 3)